extends layout

block content
  div.container
    div.card
      div.card-header
        div.backdrop
        div.pokemon-name Charizard
        div.hp-points 78HP
        img.pokemon-type(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
        img.card-header-image(src="https://www.seekpng.com/png/detail/16-160924_charizard-png-pic-pokemon-charizard-deviantart.png" class='pokemon')
      div.attacks
        div.attack1
          div.attackOne Dragon Claw
          div.damageOne 50
          img.pokemon-type2(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
        div.attack2
          div.attackTwo Fire Blast
          div.damageTwo 140
          img.pokemon-type3(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
          img.pokemon-type4(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
      div.description
        div.description1
          div.weakness weakness
          div.resistance resistance
          div.retreatCost retreat cost
        div.description2
          img.pokemon-type5(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
          img.pokemon-type6(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
          img.pokemon-type7(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
          img.pokemon-type8(src="https://3.bp.blogspot.com/-J0MeJVYgAzo/WTKeIAdZHmI/AAAAAAAAA9Y/m7H_4VhPaiwyqb5tQpK0SV0B9y-TwCAjgCLcB/s400/160983187.png")
