body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  padding: 48px;
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  background: red;
  border: 5px solid darkred;
  border-radius:16px;
  width: 350px;
  position: relative;
  overflow: hidden;


}

.hpPoints {
  position: absolute;
  color: orange;
  font-size: 24px;
  padding: 3px;
  right: 120px;
  top: 3px;

}

.card-header-image {
  width:70%;
  display:flex;
  margin-left: 30px;
  border: 5px solid darkred;
  position: relative;
  margin-top: 50px;


}
.pokemonName {
  position: absolute;
  color: black;
  font-size: 24px;
  top: 20px;
  left: 20px;
  padding: 5px;
}

.pokemon {
  justify-content: center;
  display:flex;
  padding: 5px;
}

.pokemonType {
  width: 35px;
  display: flex;
  position: absolute;
  right: 0px;
  top: 1px;

}

.attackOne {
  position: center;
  display: flex;
  font-size: 24px;
  color: black;
  margin-top: 30px;
  margin-left: 100px;
}

.damageOne {
  position: absolute;
  display: flex;
  font-size: 24px;
  color: black;
  right: 10px;
  padding-right: 20px;
  margin-top: 30px;
}

.attack1 {
  display: flex;

}
.pokemonType2 {
  width: 35px;
  display: flex;
  position: absolute;
  left: 10px;
  padding-top: 25px;
}

.pokemonType3 {
  width: 35px;
  display: flex;
  position: absolute;
  left: 50px;
  padding-top: 25px;
}

.pokemonType4 {
  width: 35px;
  display: flex;
  position: absolute;
  left: 10px;
  padding-top: 25px;
}

.attack2 {
  display: flex;
}

.attackTwo {
  position: center;
  display: flex;
  font-size: 24px;
  color: black;
  margin-top: 30px;
  margin-left: 100px;
  padding-bottom: 10px;
}

.damageTwo {
  position: absolute;
  display: flex;
  font-size: 24px;
  color: black;
  right: 10px;
  padding-right: 20px;
  margin-top: 30px;

}

.description1 {
  display: flex;
}

.description2 {
  display: flex;
}

.weakness {
  position: center;
  margin-left: 20px;
  font-size: 14px;
  display: flex;
}

.resistance {
  position: absolute;
  left: 140px;
  font-size: 14px;
  display: flex;
}

.retreatCost {
  position: absolute;
  right: 20px;
  font-size: 14px;
  display: flex;
}

.pokemonType5 {
  width: 35px;
  display: flex;
  position: center;
  padding-left: 30px;
  height: 35px;
  padding-bottom: 10px;
}

.pokemonType6 {
  width: 35px;
  justify-content: space-between;
  display: flex;
  position: absolute;
  left: 150px;
  padding-top: 3px;

}

.pokemonType7 {
  width: 35px;
  display: flex;
  position: absolute;
  right: 60px;
  padding-top: 3px;
}

.pokemonType8 {
  width: 35px;
  display: flex;
  position: absolute;
  right: 20px;
  padding-top: 3px;
}

